---
import Project from "./CardProject.astro";
interface IProject {
  key: string;
  title: string;
  description: string;
  features: string[];
  icon: string;
}

const { t } = Astro.props;
---

<section
  id="projects"
  class="bg-white dark:bg-[#0f1117] text-[#1a1a1a] dark:text-white py-24 px-6"
>
  <div class="max-w-7xl mx-auto">
    <h2 class="text-4xl font-bold text-center mb-12">{t.sectionTitle}</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        t.cards.map((card: IProject) => (
          <Project
            key={card.key}
            title={card.title}
            icon={card.icon}
            description={card.description}
            features={card.features}
          />
        ))
      }
    </div>
  </div>
</section>
